# Entornos virtuales
venv/
.env/
config.env

# Archivos compilados o temporales
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Base de datos local
*.sqlite3

# Docker
*.dockerignore
docker-compose.override.yml